html {
    margin: 0;
    padding:  0;
}
header {background: #fff url("https://www.tourmyindia.com/states/tamilnadu/images/sri-ekambareswar-temple.jpg");
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
} 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    }
h2 {}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: purple;
}
h4 {
    color: rebeccapurple;
    text-align: center;
}
body { 
    background:rgb(40, 236, 236);
 
  	font: 75% georgia, sans-serif;
	line-height: 1.88889;
    color: black;
    font-size: 18px; 
    font-weight: 100;
    margin: 25px 50px 75px 100px; 
	padding: 0;
    }

p {
    text-align: justify;
}

.introduction {
    margin-top: 100px;
}
.temples {
    padding: 40px;

}
.Silk {
    padding: 40px;

}
#reference {
    font-size: 18px;
    font: italic;

}
footer {
    background: #fff url("https://i.etsystatic.com/13701693/r/il/39ebc3/1780330407/il_fullxfull.1780330407_rhrm.jpg");
}