html {
    margin: 0;
    padding:  0;
} 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-image: <img src ="https://i.etsystatic.com/13701693/r/il/39ebc3/1780330407/il_fullxfull.1780330407_rhrm.jpg" height="240" width="1320"/>
    
}